# ------------------------------------------------------------------------------
# 1. SYSTEM CONFIGURATION (시스템 공통 설정)
# ------------------------------------------------------------------------------

# 실행할 도커 서비스 프로필 설정 (쉼표로 구분하여 여러 개 지정 가능)
# - redis-ui: Redis 모니터링 및 관리 툴 웹 GUI 실행
# - database: MariaDB 데이터베이스 서버 실행
COMPOSE_PROFILES=database,redis-ui

# 로그 기록 및 시간 설정에 사용될 타임존
TZ=Asia/Seoul

# 컨테이너 내의 파일 권한 및 프로세스 실행 유저를 호스트 시스템 사용자와 일치시키기 위한 설정
# (리눅스 호스트 환경에서 볼륨 마운트 권한 문제를 방지하기 위해 사용됨)
PUID=1000
PGID=1000



# ------------------------------------------------------------------------------
# 2. DATABASE/REDIS CONFIGURATION (DB/Redis 설정)
# ------------------------------------------------------------------------------

# Redis UI 접속 포트
REDIS_UI_PORT=5540

# 호스트 시스템에 바인딩할 데이터베이스 포트
# (기본값인 3306 포트가 이미 사용 중인 경우 다른 포트로 충돌 방지 변경 가능)
# (외부 데이터베이스 서버를 사용하는 경우에는 무시됨)
DB_EXTERNAL_PORT=3306

# 데이터베이스 관리자(root) 계정 패스워드
# (외부 데이터베이스 서버를 사용하는 경우에는 무시됨)
DB_ROOT_PASS=THIS_IS_A_STRONG_ROOT_PASSWORD

# 백엔드 애플리케이션 연결용 데이터베이스 접속 정보
DB_HOST=database
DB_PORT=3306
DB_USER=overclock
DB_PASS=overclock
DB_NAME=overclock



# ------------------------------------------------------------------------------
# 3. BACKEND/FRONTEND CONFIGURATION (백엔드/프론트엔드 공통 설정)
# ------------------------------------------------------------------------------

# 외부에서 프론트엔드 서비스에 접근할 때 사용할 호스트명 및 포트 설정
# FE_HOST: docker-compose.domain.yml 파일에서만 사용됨
FE_HOST=example.com
FE_PORT=3000

# **프론트엔드**에서 백엔드 API 서버로 요청을 보낼 때 사용할 외부 주소 및 프로토콜 정보
# - docker-compose.domain.yml 파일 활용 도메인 구성 시 BE_HOST 값 변경 필수, 나머지는 자동 설정됨
BE_PROTO=http
BE_HOST=localhost
BE_PORT=8000



# ------------------------------------------------------------------------------
# 4. BACKEND CONFIGURATION (백엔드 설정)
# ------------------------------------------------------------------------------

# 백엔드 세션 암호화 및 토큰 서명에 사용될 시크릿 키
# (보안을 위해 운영 환경에서는 고유하고 복잡한 난수로 변경 필수)
SECRET_KEY=THIS_IS_A_STRONG_SECRET_KEY

# 데모/체험용 게스트 계정 활성화 여부 및 기본 계정 설정
# (true로 설정 시 백엔드 구동 단계에서 게스트 사용자가 자동으로 데이터베이스에 생성됨)
# (계정 정보는 backend/app/demo.py 파일 참고)
GUEST_LOGIN_ENABLE=true



# ------------------------------------------------------------------------------
# 5. KAKAO DELELOPERS PLATFORM KEYS (카카오에 데이터 요청 시 사용할 Key 설정)
# ------------------------------------------------------------------------------

# 프론트엔드용
# 카카오 지도 SDK API를 활용하는 데 필요한 개발자 Javascript 키
KAKAO_MAP_API_KEY=KAKAO_APP_PLATFORM_JAVASCRIPT_KEY

# 백엔드용
# 카카오 API 호출 시 사용할 REST API KEY
KAKAO_REST_API_KEY=KAKAO_APP_PLATFORM_REST_API_KEY
